{% extends "base.html" %}
{% set active_page = "categories" %}


{% block content %}
<div class="row">
    <div class="col-3">
        <a class="btn btn-dark" href="{{ url_for('cat.add_category') }}" role="button"><i class="fa fa-plus"></i>   Add category</a>
    </div>
    <div class="col-9">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Keywords</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td> {{category.name}} </td>
                    <td> {% for x in category.keywords.all() if x.enabled %} {{ x.word }} {% endfor %}</td>
                    <td><a href="{{ url_for('cat.edit_category', cid=category.id) }}" class="btn btn-light"><i class="fa fa-pencil"></i></a></td>
                                        <td>
                        <form method="post" action="{{ url_for('cat.delete_category', cid=category.id) }}"">
                            <button type="submit" class="btn btn-light"><i class=" fa fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}