{% extends "base.html" %}
{% set active_page = "transactions" %}


{% block content %}
<div class="row">
    <div class="col-3">
        <a class="btn btn-dark" href="{{ url_for('tran.add_transaction') }}" role="button"><i class="fa fa-plus"></i>   Add transaction</a>
    </div>
    <div class="col-9">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Transaction</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td> {{ transaction.description }} </td>
                    {% if transaction.amount < 0 %}
                    <td style="color:red"> {{ transaction.amount*(-1) }} </td>
                    {% else %}
                    <td style="color:green"> {{ transaction.amount }} </td>
                    {% endif %}
                    <td> {{ transaction.category.name }} </td>
                    <td><a href="{{ url_for('tran.edit_transaction', tid=transaction.id) }}" class="btn btn-light"><i class="fa fa-pencil"></i></a></td>
                    <td>
                        <form method="post" action="{{ url_for('tran.delete_transaction', tid=transaction.id) }}"">
                            <button type="submit" class="btn btn-light"><i class=" fa fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}